In [3]:
# Dependencies
import pandas as pd
import plotly.express as plt
import os
import statsmodels.api as sm

In [2]:
bikecounts_file = os.path.join('../','Resources', 'bikecounts.csv')
bikecounts_df = pd.read_csv(bikecounts_file)
bikecounts_df['Day'] = pd.to_datetime(bikecounts_df['Day'])
bikecounts_df.head()

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01,2016-04-01,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02,2016-04-02,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03,2016-04-03,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04,2016-04-04,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
4,4,2016-04-05,2016-04-05,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471

In [ ]:
#Hypothesis: The High Temperature/Lower temps influences the amount of bikers who are riding per day -> The Higher the Temp the more Bikers

In [30]:
X = bikecounts_df[['Brooklyn Bridge', 'Williamsburg Bridge', 'Queensboro Bridge', 'Manhattan Bridge']]
Y = bikecounts_df['High Temp (°F)']
X = sm.add_constant(X)
model = sm.OLS(Y,X)
results = model.fit()

In [ ]:
#Results Show Almost no Correlation with Manhatten Bridge and the High Temp weather affecting the amount of bikers
#Results for Brooklyn show high temps have a low correlation to the amount of bikers/ Low temps however have a moderate correlation

In [31]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         High Temp (°F)   R-squared:                       0.669
Model:                            OLS   Adj. R-squared:                  0.616
Method:                 Least Squares   F-statistic:                     12.62
Date:                Sat, 13 Mar 2021   Prob (F-statistic):           9.41e-06
Time:                        13:39:28   Log-Likelihood:                -98.357
No. Observations:                  30   AIC:                             206.7
Df Residuals:                      25   BIC:                             213.7
Df Model:                           4
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                  37.6174      6.573      5.723      0.000      24.079      51.156
Brooklyn Bridge         0.0057      0.008      0.751      0.460      -0.010       0.021
Williamsburg Bridge     0.0179      0.006      2.964      0.007       0.005       0.030
Queensboro Bridge      -0.0087      0.008     -1.030      0.313      -0.026       0.009
Manhattan Bridge       -0.0118      0.006     -1.926      0.066      -0.025       0.001
==============================================================================
Omnibus:                        2.741   Durbin-Watson:                   1.395
Prob(Omnibus):                  0.254   Jarque-Bera (JB):                2.374
Skew:                           0.666   Prob(JB):                        0.305
Kurtosis:                       2.650   Cond. No.                     4.11e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.11e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
#In this case we cannot reject the Null Hypothesis as the Brooklyn Bridge is .46 and low/moderate